{
	id = 0
	anchor = {
		left = 1
		top = 1
		right = 13
		bottom = 13
		}
	childBoxes = { 1 2 }
}
{
	id = 1
	anchor = {
		left = 1
		top = 1
		right = 7
		bottom = 13
		}
	client = {
	   model = galaxy
	   }
}
{
	id = 2
	anchor = {
		left = 7
		top = 1
		right = 13
		bottom = 13
		}
	client = {
	   model = planet
	   }
}
